{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Upload{% endblock %}

{% block page_content %}
<p></p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="true">Company</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="second" aria-selected="false">Product</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent" style="max-width: 70%;">
  <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="company-tab">
    <p></p>
    <form>
    <div class="form-group">
      {{ company_form.name.label }} : 
      {{ company_form.name(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ company_form.script.label }} :
      {{ company_form.script(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ company_form.file.label }} :
      {{ company_form.file(class_="form-control-file") }}
    </div>
    {{ company_form.submit_company(class_="btn btn-primary") }}
    </form>
  </div>
  <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">
    <p></p>
    <form>
    <div class="form-group">
      {{ product_form.name.label }} :
      {{ product_form.name(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ product_form.company_id.label }} :
      {{ product_form.company_id(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ product_form.script.label }} :
      {{ product_form.script(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ product_form.file.label }} :
      {{ product_form.file(class_="form-control-file") }}
    </div>
      {{ product_form.submit_product(class_="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}